<app-navbar></app-navbar>


<div id="log-container">
  <div class="ui grid">
    <div class="row">
      <div class="titulo">
        Logs
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <table datatable [dtOptions]="dtOptions" class="ui selectable very compact celled table" style="width:100%; margin:auto;">
          <thead>
          <tr>
            <th>N</th>
            <th>User</th>
            <th>Type</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
